<form [formGroup]="profileForm">
  <div class="container">
    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>

    <b>First Name</b>
    <input type="text" class="form-control" formControlName="firstname" placeholder="Enter First Name" id="firstname"
      [(ngModel)]='user.firstname' [ngClass]="{ 'is-invalid': profileForm.touched && f['firstname'].errors }">
    <div *ngIf="profileForm.touched && f['firstname'].errors" class="invalid-feedback">
      <div  *ngIf="f['firstname'].errors['required']">First Name is required</div>
    </div>

    
    <b>Last Name</b>
    <input type="text" class="form-control" formControlName="lastname" [(ngModel)]="user.lastname"
      placeholder="Enter Last Name" id="lastname"
      [ngClass]="{ 'is-invalid': profileForm.touched && f['lastname'].errors }">
      <div *ngIf="profileForm.touched && f['lastname'].errors" class="invalid-feedback">
        <div  *ngIf="f['lastname'].errors['required']">Last Name is required</div>
      </div>

      <b>Email</b>
      <input type="email" class="form-control" formControlName="email" [(ngModel)]="user.email"
      placeholder="Enter Your Email" id="email"
      [ngClass]="{ 'is-invalid': profileForm.touched && f['email'].errors }">
    <div *ngIf="profileForm.touched && f['email'].errors" class="invalid-feedback">
      <div *ngIf="f['email'].errors['required']">Email is required</div>
      <div *ngIf="f['email'].errors['email']">Invalid Email Format</div>
    </div>

    <b>Password</b>
      <input type="password" class="form-control" formControlName="password" [(ngModel)]="user.password"
      placeholder="Enter Password" id="password" [(ngModel)]="pw"
      [ngClass]="{ 'is-invalid': profileForm.touched && f['password'].errors }">
    <div *ngIf="profileForm.touched && f['password'].errors" class="invalid-feedback">
      <div *ngIf="f['password'].errors['required']">Password is required</div>
      <div *ngIf="f['password'].errors['minLength']">Password must be at least 6 characters</div>
    </div>

    <b>Confirm Password</b>
      <input type="password" class="form-control" formControlName="password" [(ngModel)]="cpw"
      placeholder="Enter Password" id="cnfpassword" 
      [ngClass]="{ 'is-invalid': profileForm.touched && f['password'].errors }">
    <div *ngIf="profileForm.touched && f['password'].errors" class="invalid-feedback">
    <div *ngIf="f['password'].errors['required']">Confirm your password</div>
    <span *ngIf="!passwordsMatching">Password mismatch</span>
      
    </div>
    


    <button (click)="addDetails()" type="submit" class="registerbtn">Register</button>
  </div>

  <div class="container signin">
    <p>Already have an account? <a href="#">Log in</a>.</p>
  </div>
</form>