.card{
    width: 100%;
    align-items: center;
    margin-top: 0%;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
.card-body{
    width: 30%;
    box-sizing: content-box;
}
